.top-companies-wrapper {

    padding: 60px 40px;

    background: linear-gradient(135deg,
                #dcecff 0%,
                #ceebff 50%,
                #cfe4ff 100%);

}




.top-companies-heading {

    margin-bottom: 35px;

}



.top-companies-heading h2 {

    font-size: 34px;

    color: #111827;

}



.top-companies-heading p {

    color: #6b7280;

}





.top-companies-list {


    display: flex;

    gap: 25px;

    overflow-x: auto;

    scroll-behavior: smooth;

    padding-bottom: 15px;


}




.top-company-item {


    min-width: 230px;



    padding: 30px 20px;


    border-radius: 24px;


    border: 1px solid #e5e7eb;


    text-align: center;


    flex-shrink: 0;


    transition: .3s;
   
    
            background: rgba(255, 255, 255, 0.9);
    
            backdrop-filter: blur(10px);


}





.top-company-item:hover {


    transform: translateY(-10px);


    box-shadow: 0 18px 35px rgba(0, 0, 0, .12);


}





.top-company-logo-box {


    width: 80px;

    height: 80px;


    margin: auto;


    border-radius: 20px;


    background: #ffffff;


    display: flex;

    align-items: center;

    justify-content: center;


    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);


    margin-bottom: 20px;


}




.top-company-logo-box img {


    width: 50px;

    height: 50px;

    object-fit: contain;


}





.top-company-title {


    font-size: 20px;

    color: #111827;


}




.top-company-count {


    color: #2563eb;

    font-weight: 600;


}





.top-company-action {


    margin-top: 20px;


    width: 100%;


    padding: 10px;


    border: none;


    border-radius: 12px;


    background: none;


    color: #0095ec;


    font-weight: 1000;
    font-size: 16px;

    cursor: pointer;


}




.top-company-action:hover {


    color: #008bd1;


}







@media(max-width:900px) {


    .top-companies-wrapper {

        padding: 50px 25px;

    }



    .top-company-item {

        min-width: 210px;

    }


}






@media(max-width:600px) {


    .top-companies-wrapper {

        padding: 40px 15px;

    }



    .top-companies-heading h2 {

        font-size: 25px;

    }



    .top-company-item {

        min-width: 85vw;

    }


}